$main-color: #3089b6;
$background-color: #cfd0cf;
$text-color: #434344;
$alternate-text-color: lighten(#cfd0cf, 30%);
$overlay-color: rgba(200, 200, 210, 0.7);
$success-color: #5ad66f;
$error-color: #f44336;